* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
}

.navbar {
  background-color: rgb(44, 136, 136);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#title {
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* margin-top: -20px; */
  color: white;
}

#icon {
  width: 70px;
  /* float: left; */
  border-radius: 50%;
  /* margin-top: -10px; */
  display: flex;
  justify-content: start;
  align-items: start;
}
a {
  text-decoration: none;
  font-size: larger;
}
.navlinks {
  float: left;
  /* border: 1px solid black; */
  margin-top: -0.5rem;
  padding: 20px;

  display: flex;
  justify-content: end;
  align-items: end;
  flex-wrap: wrap;
  color: white;
}
.navlinks:hover {
  color: tomato;
  background: teal;
}
#home {
  margin-left: 15rem;
}

#bg {
  width: 100%;
  opacity: 0.6;
}
#welcome {
}
#body {
}

footer {
  background-color: rgb(24, 43, 43);
  color: white;
  padding: 1rem;
  text-align: center;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::before {
  content: "";
  background-image: url("img/background.jpeg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.aboutcontainer {
  background-color: #dcd8d8;
  height: 100vh;
}

#wel {
  color: #fff;
  font-size: 3rem;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;
  margin-left: 50%;
  font-size: 30px;
  margin-right: 100px;
}

#logina {
  color: white;
  background: teal;
  padding: 10px;
  border-radius: 20px;
  font-size: large;
}
#logina:hover {
  background: tomato;

  border-radius: 20px;
}

/* signup.html */

#signupform {
  width: 500px;
  margin-top: 0.5rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #aaa;
}

#signuph1 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#signupbtndiv {
  text-align: center;
}

#signupbtn {
  padding: 15px;
  margin-top: 10px;
  background-color: rgb(38, 180, 133);
  border-style: none;
  border-radius: 10px;
  font-size: large;
  color: white;
}

#signupbtn:hover {
  background-color: tomato;
}
